<% div_for comment do %>
  <div class="meta">  
    <strong><%= link_to_unless comment.url.blank?, h(comment.name), h(comment.url), :rel => "nofollow" %></strong> 
    <%- unless comment.created_at.nil? -%>
    <span><%= comment.created_at.strftime("%B %d, %Y at %I:%M%p") %></span>
    <%- end -%>
  <%- if current_user -%>
  <span>  <%= link_to "Edit", edit_comment_path(comment) %> |
    <%= link_to "Destroy", comment, :confirm => 'Are you sure?', :method => :delete, :class => 'destroy' %>
    </span>
  <%- end -%>  
    
  </div>

  <div class="body">
    <%= format_comment(comment.body) %>
  </div>
  
<% end %>