

<% form_for([@post,@comment]) do |f| %>
  
  <% "TODO: Switch to capture spree logged in users and supply name and email from current_user." %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>   
  </p>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit button_name %>
  </p>
<% end %>