

<% form_for @comment do |f| %>
  <%= error_messages_for :comment %>
  <div>
    <%= f.hidden_field :post_id %>
  </div>

  <% "TODO: Switch to capture spree logged in users and supply name and email from current_user." %>
  <p>
    <%= f.label :name %><span class="info">(required)</span><br />
    <%= f.text_field :name %>   
  </p>
  <p>
    <%= f.label :email %><span class="info">(not shown)</span><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :url, "Website URL" %> <br />
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit "Preview", :name => 'preview_button' %>
    <%= f.submit "Submit" %>
  </p>
<% end %>