
	<div id="post-<%= post.id %>" class="post">
		<h2 class="post-title"><%= link_to (post.title == '' ? '[Untitled]' : h(post.title)), post %></h2>
		<div class="post-date"><%= post.published_at.strftime("%B %d, %Y") %></div>
		<div class="post-content"><%= post.body %></div>
		<div class="tags"><%= linked_tag_list(post.tags) %></p></div>
	</div>
